/*td[data-position = "center"]{
    text-align:center;
    padding-top:20px
}


#header {height:216px; padding-top:24px;}
table.playTable {width:80%; margin:0 auto;}
.signupBtns {margin:0 auto; width:80%;}
.viewprofilebtn {background:url(../images/img/view_profile.png) no-repeat; vertical-align:middle; float:right; padding-top:8px; margin-top:7px; width:170px; height:30px; border:0 none;}
.space {height:15px;background: url("../images/img/black-86.png") repeat scroll 0 0 transparent;}
.maine-data {text-align:center !important; vertical-align:middle; font-family:"Open Sans","Trebuchet MS",sans-serif;}
.maine-data1 {text-align:center !important; vertical-align:middle;font-family:"Open Sans","Trebuchet MS",sans-serif;}
.serrator { vertical-align:middle; margin:0 auto; padding:0; width:5px;}
 Fix for responsive body padding in bootstrap 
@media screen and (min-width: 320px) and (max-width: 700px) {
	body { padding: 0; }
}


.modal{
    background-color: #000
}

.modal-header{
    background-color: none;
    color:#fff;
    border-bottom: none
}
.modal-body{
    color:#fff
}
.modal-footer{
    background-color: #000;
    border-top: none;
    box-shadow: none
}


textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
    box-shadow: none
}

.pagination .select {
  height: 30px;
  margin-top: -7px;
  margin-bottom: -5px;
}
.pagination ul > li > a{
    color:#1ABC9C
}
a{
    color: #1ABC9C
}*/


#editBand{
    width: 680px
}