
.pagination ul {
   
    background: url("../../../../../library/home/assets/img/black-62.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.pagination ul li > a, .pagination ul li > span {
    border: 5px solid #000000;
    
}



.page-back-all{
    border-radius: 5px;
    
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FCFCFC 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FCFCFC 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FCFCFC 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FCFCFC), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FCFCFC 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FCFCFC 0%, #FFFFFF 100%);
}
.back-all-form{
    border-radius: 5px;
    background-color: #fff
}
.back-all-title-form{
    border-radius: 5px 5px 0 0;
    padding: 10px;
    background: #ededed;
    margin-bottom: 10px
}
.form-rol-status{
    display: none
}
.back-all-roll-form{
    padding: 5px;
    border: 1px solid #ededed;
    width: 100%;
    line-height: 25px
}


#loading {
background:url(../images/icons/ajax-loader.gif) no-repeat center center;
height: 50px;
width: 50px;
position: fixed;
left: 50%;
top: 50%;
margin: -25px 0 0 -25px;
z-index: 1000;
}


.container-content-all{
    padding-top: 50px
}


