sup {
    color: red;
}

.mouseC {
    cursor: pointer;
}


/*.borderDiv {
    border:1px solid;
    border-radius:10px;
    padding-top: 17px;
    padding-left: 10px;
}*/
/*input{
    width: 180px;
}*/

/*.displayPage {
    display: none;
}*/