
#docs-nav-wrap, 
#footer
{
	display: none;
}

#docs-content .hero-unit
{
	padding: 0;
	margin-bottom: 40px;
}

#docs-content .thumbnail
{
	display: inline-block;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}